.user-redact {
    padding-inline: 30px;
    opacity: 0;
    visibility: visible;
    transition: all 0.2s linear;


    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        padding-inline: 1.875rem;
    }

    &__title {
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 46px;
    }
}

.redact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__input {
        border: none;
        border-bottom: 1px solid rgba(0, 0, 0, .2);
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        margin: 29px 0 0;
        outline: none;
        padding: 10px 0 10px 9px;
        width: 100%;
        background-color: rgba(128,128,128, .1);
    }

    &__submit {
        background-color: #000;
        border: none;
        border-radius: 2px;
        color: #fff;
        font-size: calc(.41667vw + 12.66667px);
        line-height: calc(.52083vw + 15.33333px);
        margin-top: 50px;
        min-height: calc(.41667vw + 44.66667px);
        transition: all .2s linear;
        width: 100%;

        &:hover {
            opacity: .7;
        }
    }
}

.user-redact.open {
    opacity: 1;
    visibility: visible;
}